header {

  @include flexing(column, row);
  padding: .6rem 1.25rem;
  .header {
    &--logo {
      height: auto;
      flex: .5 1 30%;
      @include flexing(column, column);
      align-items: center;
      justify-content: center;
      @media (min-width: $medium){
        align-items: flex-start;
        justify-content: flex-start;
        max-height: 125px;
      }
    }
    &--menu {
      height: auto;
      flex: .5 1 70%;
      display: flex;
      align-items: center;
      @media (min-width: $medium){
        max-height: 200px;
        justify-content: flex-end;
      }
      ul{
        width: 100%;
        padding: 0;
        @media (min-width: $medium){
          width: auto;
        }
      }
      ul>li {
        display: block;
        width: 100%;
        margin: .5rem 0;
        padding: .5rem 0;
        text-align: center;
        border: 1px solid $jkblue;
        @media (min-width: $medium){
          text-align: left;
          width: auto;
          display: inline-block;
          align-self: space-between;
          margin: .5rem .25rem;
          border: none;
        }
      }
      a {
        display: block;
        font-family: 'Montserrat';
        font-weight: 700;
        text-decoration: none;
        color: $jkblue;
        cursor: pointer;
        padding: .5rem;
        &:hover {
          background-color: lighten($jkaqua, 35%);
        }
      }
    }
  }
}
