  </main>
</div>
<!--  Ends container div -->
<footer>
  <div class="dotdash"></div>
  <div class="container container--footer">

    <div>
      <h3>J. Keith van Straaten</h3>
      <p>is a writer, actor, gameshow host and comedian living in Los Angeles, CA. </p>
    </div>

    <div>
      <h3>Contact J. Keith</h3>
      <ul>
        <li>via the Contact Page</li>
        <li>via Twitter</li>
        <li>via Facebook</li>
      </ul>
    </div>

    <div>
      <h3>Legal Stuff</h3>
      <p> Content is copyright 2020, J. Keith van Straaten, unless otherwise noted. Site design by <a href="https://jimmymarks.com">Jimmy Marks.</a></p>
    </div>
  </div>
</footer>
