  </main>
</div>
<!--  Ends container div -->
<footer>
  <div class="container container--footer">

    <div>
      <h3>Footer</h3>
      <ul>
        <li>Menu 1</li>
        <li>Menu 2</li>
        <li>Menu 3</li>
      </ul>
    </div>

    <div>
      <h3>Footer</h3>
      <ul>
        <li>Menu 1</li>
        <li>Menu 2</li>
        <li>Menu 3</li>
      </ul>
    </div>

    <div>
      <h3>Footer</h3>
      <ul>
        <li>Menu 1</li>
        <li>Menu 2</li>
        <li>Menu 3</li>
      </ul>
    </div>
  </div>
</footer>
