{{ define "main" }}
<div class="block block--half">

  <div>
    <img src="http://placehold.it/600x400">
  </div>
  <div>
    <h1>{{ .Params.page_title }}</h1>
    <div class="bumpup">{{ .Params.main_paragraph | safeHTML }}</div>
  </div>

</div>
<div class="block block--thirds">
  <!-- 1st column -->
  <div>
    <h2>{{ $.Param "1st_column.column_title" }}</h2>
    <img src="" }} alt="{{ $.Param "1st_column.alt_text_for_image" }}">
    <p>{{ $.Param "1st_column.description" }}</p>
  </div>
  <!-- 2nd column -->
  <div>
    <h2>ghgh</h2>
    <img src="">
    <p>afeafeeafafef</p>
  </div>
  <!-- 3rd Column -->
  <div>
    <h2>tyjk</h2>
    <img src="">
    <p>afeafafevc</p>
  </div>
</div>
{{ end }}
