{{ define "main" }}
<div class="block block--half">

  <div class="image--display">
    <div>
    {{ with .Params.main_image }}
      {{ $imageResource := ($.Site.GetPage "/uploads").Resources.GetMatch (strings.TrimPrefix "/" . ) }}
      {{ $resized := $imageResource.Fill "600x500 Center q100" }}
      <img src="{{ $resized.RelPermalink }}" />
    {{end}}
    </div>
  </div>
  <div>
    <h1>{{ .Params.page_title }}</h1>
    <div class="bumpup">{{ .Params.main_paragraph | safeHTML }}</div>
  </div>

</div>
<div class="block block--thirds">
  <!-- 1st column -->
  <div>
    {{with $.Param "1st_column" }}
      {{ partial "homecolumns.html" . }}
    {{ end }}
  </div>
  <!-- 2nd column -->
  <div>
    {{ with $.Param "2nd_column" }}
      {{ partialCached "homecolumns.html" . }}
    {{end}}
  </div>
  <!-- 3rd Column -->
  <div>
    {{ with $.Param "3rd_column" }}
      {{ partial "homecolumns.html" . }}
    {{end}}
  </div>
</div>
{{ end }}
