{{ define "title" }}
  <!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
  {{ .File.TranslationBaseName }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
{{if eq .Params.hero_style "Hero" }}
<div class="block block--full">
  <div>
    <h1>{{ .Params.page_title }}</h1>
  </div>
  {{if .Params.hero_image }}
    <div>
      <img src="{{ .Params.hero_image }}">
    </div>
  {{end}}
  <div>
    {{if .Params.opening_paragraph }}
      <div class="bumpup">
        {{ .Params.opening_paragraph | safeHTML }}
      </div>
    {{ end }}


    {{ if $.Param "call_to_action" }}
      {{- partial "ctoabutton.html" . -}}
    {{ end }}

      <div>
      {{ .Content }}
      </div>

  </div>
</div>
{{end}}

{{if eq .Params.hero_style "Normal" }}

<div class="block block--half">
  <div class="image--display">
    {{ with .Params.main_image }}
      {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/" . ) }}
      {{ $resized := $imageResource.Fill "600x400 Top" }}
      <img src="{{ $resized.RelPermalink }}" />
    {{end}}
  </div>
  <div>
    <h1>{{ .Params.page_title }}</h1>
    {{if .Params.main_paragraph }}
    <div class="bumpup">{{ .Params.main_paragraph | safeHTML }}

      {{ if $.Param "call_to_action" }}
        {{- partial "ctoabutton.html" . -}}
      {{ end }}

    </div>
    {{end}}
  </div>
</div>
<div class="block block--full">
  <div>
    {{ .Content }}
  </div>
</div>

{{ end }}

{{end}}
