{{ define "title" }}
  <!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
  <div class="block block--full">
    <div>
      <h1>{{ .Params.page_title }}</h1>
    </div>
  </div>
  <div class="block block--half">

    <div class="media--display">
      <iframe width="420" height="315" src="https://www.youtube.com/embed/ITvvVikqVUE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div>
      <h2>My demo reel</h2>
      <div class="bumpup">{{ .Params.main_paragraph | safeHTML }}</div>
        {{- partial "ctoabutton.html" . -}}
    </div>

  </div>

  <div class="block block--full">
    <div class="wavygravy divider">
    </div>
    <div>
      <h2>{{ .Params.writing_sample_title }}</h2>
    </div>
  </div>


  <div class="block block--thirds separation">

    {{range $.Param "writing_samples"}}
      <div>
        <h3>{{- .sample_title -}}</h3>
        <p>{{- .small_snippet -}}</p>
        <p><a href="{{.sample_url}}" target="_blank">Go read</a></p>
      </div>
    {{end}}

  </div>

  <div class="block block--full">
    <div class="wavygravy divider">
    </div>
    <div>
      <h2>{{ .Params.gallery_title_text }}</h2>
      <p><em>Click on any image in the gallery to be taken to a download-able, full-sized copy of the image. For a larger selection of images, <a href="/headshots">go to the Headshots page.</a></em></p>
    </div>
  </div>
  <div class="block block--quarters">

    {{ range .Params.image_gallery }}
    <div class="image--display">
      {{ $imageResource := ($.Site.GetPage "section" "uploads").Resources.GetMatch (strings.TrimPrefix "/" . ) }}
      {{ $resized := $imageResource.Resize "x300" }}
      <a href="{{ $imageResource.RelPermalink }}" target="_blank"><img src="{{ $resized.RelPermalink }}" /></a>
    </div>
    {{ end }}

  </div>


{{ end }}
