{{ define "title" }}
  <!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
  <div class="block block--full">
    <div>
      <h1>{{ .Params.page_title }}</h1>
    </div>
  </div>
  <div class="block block--half">

    <div>
      <img src="http://placehold.it/600x400">
    </div>
    <div>
      <h2>My demo reel</h2>
      <p>{{ .Params.main_paragraph }}</p>
    </div>

  </div>
  <div class="block block--full">
    <div>
      <h2>My headshots</h2>
    </div>
  </div>
  <div class="block block--quarters">
    <div>
      <img src="http://placehold.it/200x200">
    </div>
    <div>
      <img src="http://placehold.it/200x200">
    </div>
    <div>
      <img src="http://placehold.it/200x200">
    </div>
    <div>
      <img src="http://placehold.it/200x200">
    </div>
    <div>
      <img src="http://placehold.it/200x200">
    </div>
    <div>
      <img src="http://placehold.it/200x200">
    </div>
    <div>
      <img src="http://placehold.it/200x200">
    </div>
    <div>
      <img src="http://placehold.it/200x200">
    </div>
    <div>
      <img src="http://placehold.it/200x200">
    </div>
    <div>
      <img src="http://placehold.it/200x200">
    </div>
    <div>
      <img src="http://placehold.it/200x200">
    </div>
    <div>
      <img src="http://placehold.it/200x200">
    </div>
  </div>
{{ end }}
